Repository neviaumi/resume.json: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-699: extract feedback loop feature to function
  src/behaviour-questions/why-are-you-the-best-candidate-for-this-job.js
  src/open-ai.js
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-699: extract JD and resume into js module
  src/behaviour-questions/why-are-you-the-best-candidate-for-this-job.js
  src/job-description.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
  src/resume.js
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-699: Generate why i am the best candidate for the job by given JD and resume.json
  src/open-ai.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-713: migrate introduction generate logic to nodejs
  docs/sample-jd/privasee.md
  llm/.gitignore
  llm/.idea/modules.xml
  llm/.python-version
  llm/README.md
  llm/pdm.lock
  llm/pyproject.toml
  llm/src/llm/__init__.py
  llm/src/llm/introduction.py
  llm/src/llm/open_ai.py
  llm/tests/__init__.py
  src/job-description.js
  src/prepare-interview/introduction.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-734: move html related js to folder resume-html
  index.html
  public/resume.pdf
  src/look-for-jobs/tailor-resume.js
  src/resume-html/helpers.js
  src/resume-html/icons/LI-In-Bug.png
  src/resume-html/icons/cake.svg
  src/resume-html/icons/envelope.svg
  src/resume-html/icons/github-mark.svg
  src/resume-html/icons/globe-alt.svg
  src/resume-html/icons/home.svg
  src/resume-html/icons/printer.svg
  src/resume-html/json-resume.element.js
  src/resume-html/main.css
  src/resume-html/sections/resume-about.element.js
  src/resume-html/sections/resume-education.element.js
  src/resume-html/sections/resume-experiences.element.js
  src/resume-html/sections/resume-header.element.js
  src/resume-html/sections/resume-projects.element.js
  src/resume-html/sections/resume-references.element.js
  src/resume-html/sections/resume-skill-explained.element.js
  src/resume-html/sections/resume-skills.element.js
  src/resume-html/sections/resume-summary.element.js
  src/resume-html/sections/skill-badge.element.js
Due: npx prettier --write, npx eslint --fix

GH-734: script to generate job search filter on LinkedIn
  src/look-for-jobs/linkedin-job-search-filters.js
Due: npx prettier --write, npx eslint --fix

GH-734: regenerate example on why are you the best candidate to remove robotics sign
  src/look-for-jobs/tailor-resume.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
Due: npx prettier --write, npx eslint --fix

GH-737: script to generate cover-letter and include loomery to sample jd
  docs/sample-jd/loomery.md
  src/job-description.js
  src/look-for-jobs/cover-letter.js
  src/look-for-jobs/linkedin-job-search-filters.js
  src/open-ai.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-741: generate final questions to ask in end of interview
  src/prepare-interview/final-questions.js
  src/prepare-interview/introduction.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
Due: npx prettier --write, npx eslint --fix

GH-740: Refactor ESLint config and optimize import orders
  .eslintignore
  eslint.config.js
  package-lock.json
  package.json
  src/look-for-jobs/tailor-resume.js
  src/open-ai.js
  src/resume-html/sections/resume-experiences.element.js
  src/resume-html/sections/resume-projects.element.js
  src/resume-html/sections/resume-references.element.js
  src/resume-html/sections/resume-skills.element.js
Due: npx prettier --write, npx eslint --fix

GH-744: Update job description and follow-up questions in intro module
  docs/sample-jd/cloudsinc.md
  src/job-description.js
  src/prepare-interview/introduction.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-744: Refactor file path construction in SAMPLE_JD
  src/job-description.js
Due: npx prettier --write, npx eslint --fix

GH-744: Update Busybox dependencies to latest alpha versions
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

GH-744: Remove unnecessary ESLint disable comments
  src/open-ai.js
  src/resume-html/json-resume.element.js
Due: npx prettier --write, npx eslint --fix

GH-746: Enhance follow-up question details in interview tool
  src/prepare-interview/final-questions.js
  src/prepare-interview/introduction.js
Due: npx prettier --write, npx eslint --fix

GH-749: Rename and update job description for Front End Engineer role
  docs/sample-jd/goodlord.md
Due: npx prettier --write, npx markdownlint-cli2-fix

GH-749: Add aria-describedby for better accessibility
  public/resume.base.json
  src/resume-html/sections/resume-experiences.element.js
  src/resume-html/sections/resume-projects.element.js
  src/resume-html/sections/resume-references.element.js
Due: npx prettier --write, npx eslint --fix

GH-749: Update README.md with revised script path
  README.md
Due: npx prettier --write, npx markdownlint-cli2-fix

GH-758: include fonoa in sample jd
  docs/sample-jd/fonoa.md
Due: npx prettier --write, npx markdownlint-cli2-fix

GH-762: include word count on cover letter generation
  Dockerfile
  public/resume.base.json
  src/look-for-jobs/cover-letter.js
Due: npx prettier --write, npx eslint --fix

GH-764: downgrade and disable of playwright
  .github/dependabot.yml
  Dockerfile
  package.json
Due: npx prettier --write, npx eslint --fix

GH-764: fix synax error on dependabot.yml
  .github/dependabot.yml
Due: npx prettier --write, npx eslint --fix

GH-767: generate cord intro message
  .gitignore
  docs/sample-jd/airlinen.md
  docs/sample-jd/fixtuur.md
  package-lock.json
  public/resume.pdf
  src/job-description.js
  src/look-for-jobs/cord-intro-message.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-769: include micro-server into work keyword
  public/resume.base.json
Due: npx prettier --write, npx eslint --fix

GH-769: remove husky warning
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

GH-771: include python in project keyword
  public/resume.base.json
Due: npx prettier --write, npx eslint --fix

GH-774: Add workspace constants and rename resume JSON files
  .gitignore
  docs/jd.txt
  src/build-pdf.js
  src/job-description.js
  src/look-for-jobs/tailor-resume.js
  src/resume-html/json-resume.element.js
  src/resume.js
  src/workspace.js
Due: npx prettier --write, npx eslint --fix

GH-774: Add getSampleJD function and sample JD files
  .gitignore
  docs/sample-jd/eight-sleep.md
  docs/sample-jd/eight-sleep.txt
  docs/sample-jd/faculty.md
  docs/sample-jd/faculty.txt
  docs/sample-jd/goodlord.md
  docs/sample-jd/goodlord.txt
  src/job-description.js
  src/look-for-jobs/transform-jd-to-md.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-774: Update sample JDs to use symbols and refactor fetch logic
  src/job-description.js
  src/look-for-jobs/cord-intro-message.js
  src/look-for-jobs/cover-letter.js
  src/look-for-jobs/tailor-resume.js
  src/look-for-jobs/transform-jd-to-md.js
  src/prepare-interview/final-questions.js
  src/prepare-interview/introduction.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
Due: npx prettier --write, npx eslint --fix

GH-774: Refactor asset folder path import
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix

GH-774: Fix intro message availability and log company core value
  src/look-for-jobs/cord-intro-message.js
  src/look-for-jobs/transform-jd-to-md.js
Due: npx prettier --write, npx eslint --fix

GH-774: Add titles and alt text to profile links
  src/resume-html/sections/resume-about.element.js
Due: npx prettier --write, npx eslint --fix

GH-778: Add new interview questions and improve introduction prompts
  src/job-description.js
  src/open-ai.js
  src/prepare-interview/final-questions.js
  src/prepare-interview/introduction.js
  src/prepare-interview/why-are-you-the-best-candidate-for-this-job.js
Due: npx prettier --write, npx eslint --fix

GH-778: Rename job search files to apply-for-job directory
  src/apply-for-job/cord-intro-message.js
  src/apply-for-job/cover-letter.js
  src/apply-for-job/tailor-resume.js
  src/apply-for-job/transform-jd-to-md.js
Due: npx prettier --write, npx eslint --fix

GH-778: Refine interview instructions formatting
  src/prepare-interview/introduction.js
Due: npx prettier --write, npx eslint --fix

GH-778: Refactor interview question generation logic to include interviewer details
  src/prepare-interview/final-questions.js
Due: npx prettier --write, npx eslint --fix

GH-778: Rename path for tailoring resume script
  README.md
Due: npx prettier --write, npx markdownlint-cli2-fix

GH-780: Fix company core value log message condition
  src/apply-for-job/transform-jd-to-md.js
Due: npx prettier --write, npx eslint --fix

GH-782: Add volunteer intro message generation feature
  docs/sample-jd/amal-initiative.md
  src/apply-for-job/cord-intro-message.js
  src/apply-for-job/volunteering-intro-message.js
  src/job-description.js
  src/resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-784: update eslint.config.js
  eslint.config.js
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: (any of: *.{js,ts,json,yml,yaml}) or (any of: *.md)
  npx eslint --fix: any of: *.{js,ts,json,yml,yaml}
  npx markdownlint-cli2-fix: any of: *.md
