Repository neviaumi/resume.json: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

.lintstagedrc.json:

{
  "*.{js,ts,json}": ["yarn prettier --write", "yarn eslint --fix"],
  "package.json": [
    "yarn eslint --fix",
    "yarn prettier --write",
    "yarn npmPkgJsonLint"
  ]
}

feat: init resume
  .gitignore
  .husky/pre-push
  .idea/csv-plugin.xml
  .idea/prettier.xml
  package.json
  resume.json
  resume.json.test.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

ci: deploy to gist
  .github/workflow/deploy-gist.yml
  .github/workflow/pr.yml
  package.json
  scripts/deploy.sh
  scripts/setup.sh
  scripts/test.sh
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fixup! ci: deploy to gist
  .github/workflow/deploy-gist.yml
  scripts/deploy.sh
Due: none

fixup! fixup! ci: deploy to gist
  .github/workflows/deploy-gist.yml
  .github/workflows/pr.yml
Due: none

fix: cannot resolve environment secret
  .github/workflows/deploy-gist.yml
  .github/workflows/pr.yml
Due: none

feat: add projects item
  README.md
  package.json
  resume.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: yarn dev not use configured theme
  package.json
  resume.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

feat: pre-build resume html to github page
  docs/index.html
  package.json
  resume.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency font-awesome to v5.15.3
  docs/index.html
Due: none

ci: auto build resume html after push master
  .github/workflows/deploy-gh-page.yml
  docs/index.html
  package.json
  resume.json
  scripts/build.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: message for skip-ci
  .github/workflows/deploy-gh-page.yml
  scripts/build.sh
Due: none

docs: update link in readme
  README.md
Due: none

chore: remove pre-build html
  docs/.gitkeep
  docs/index.html
  scripts/build.sh
Due: none

chore: renovate ignore docs html
  renovate.json
Due: yarn prettier --write, yarn eslint --fix

ci: remove existing html before create new one
  scripts/build.sh
Due: none

chore(deps): update dependency @busybox/eslint-config to v5.4.3
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: work section missing header
  resume.json
Due: yarn prettier --write, yarn eslint --fix

chore: include auto restart for dev
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

feat: add more working experience to resume
  docs/index.html
  resume.json
Due: yarn prettier --write, yarn eslint --fix

docs: refine the 'feat' definition
  .idea/csv-plugin.xml
  README.md
Due: none

docs: missing heading
  README.md
Due: none

feat: update description of projects resume.json
  docs/index.html
  resume.json
Due: yarn prettier --write, yarn eslint --fix

fix: resume missing linkedin link
  resume.json
Due: yarn prettier --write, yarn eslint --fix

feat: include qr code
  docs/index.html
  docs/qr-code.png
  package.json
  resume.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: qr code incorrect
  docs/index.html
  docs/qr-code.png
  resume.json
Due: yarn prettier --write, yarn eslint --fix

feat: split the tech used in company to keywords
  docs/index.html
  resume.json
Due: yarn prettier --write, yarn eslint --fix

feat: use native json-resume way to generate PDF
  docs/resume.pdf
  package.json
  scripts/build.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency eslint to v7.23.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: resume.pdf has unexcepted one more page
  .idea/csv-plugin.xml
  buildPDF.js
  package.json
  resume.json
  scripts/build.sh
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: use resume-cli to generate PDF
  README.md
  buildPDF.js
  docs/qr-code.png
  docs/resume.pdf
  package.json
  patches/resume-cli+3.0.4.patch
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: avoid build pdf in CI because result is unexcepted
  .husky/pre-commit
  scripts/build.sh
Due: none

chore: update pre-builded pdf
  docs/resume.pdf
Due: none

chore(deps): update dependency @busybox/eslint-config to v5.4.4
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix(wip): try fix pdf deployment
  docs/resume.pdf
  scripts/build.sh
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

feat(wip): try adjust pdf viewport
  docs/resume.pdf
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

Revert "feat(wip): try adjust pdf viewport"
  docs/resume.pdf
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

test: build pdf with RESUME_PUPPETEER_NO_SANDBOX
  .github/tests/test-deploy-gh-page.json
  .github/workflows/deploy-gh-page.yml
  package.json
  scripts/build.sh
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint
