Repository neviaumi/resume.json: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

.lintstagedrc.json:

{
  "*.{js,ts,json}": ["yarn prettier --write", "yarn eslint --fix"],
  "package.json": [
    "yarn eslint --fix",
    "yarn prettier --write",
    "yarn npmPkgJsonLint"
  ]
}

chore(deps): update dependency @busybox/eslint-config to v5.4.11
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

feat: upgrade node16 and remove yarn
  .eslintignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .idea/csv-plugin.xml
  .lintstagedrc.json
  .npmrc
  .nvmrc
  .yarnrc
  Dockerfile
  docs/resume.pdf
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: update docker image tag
  Dockerfile
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

feat: include Neat on work history
  docs/index.html
  docs/resume.pdf
  resume.json
Due: yarn prettier --write, yarn eslint --fix

ci: use node16
  .github/workflows/deploy-gh-page.yml
  .github/workflows/pr.yml
Due: none

chore(deps): pin node.js to 16.8.0
  .nvmrc
Due: none

chore(deps): update dependency @busybox/eslint-config to v5.5.0
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/npm-package-json-lint-config to v1.3.0
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/prettier-config to v1.2.0
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/renovate-config to v1.2.0
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update jest monorepo to v27.1.1
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency prettier to v2.4.0
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix(ci): use stable version of docker-compose
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: replace renovate with dependabot
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  renovate.json
Due: yarn prettier --write, yarn eslint --fix

Add renovate.json
  renovate.json
Due: yarn prettier --write, yarn eslint --fix

fixup! chore: replace renovate with dependabot
  .github/dependabot.yml
Due: none

chore: use npm
  package-lock.json
  package.json
  scripts/build.sh
  scripts/setup.sh
  scripts/test.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: missing end-date on hk01 job
  resume.json
Due: yarn prettier --write, yarn eslint --fix

fix: hk01 end date missing
  docs/index.html
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

ci: docker build not working after update
  Dockerfile
  docs/resume.pdf
Due: none

feat: update my current location
  docs/index.html
  resume.json
Due: yarn prettier --write, yarn eslint --fix

chore: use ejs and fix eslint
  .eslintrc.cjs
  .github/workflows/pr.yml
  .nvmrc
  .prettierrc.cjs
  commitlint.config.cjs
  docker-compose-build.yml
  docs/index.html
  docs/resume.pdf
  npmpackagejsonlint.config.cjs
  package-lock.json
  package.json
  resume.json
  scripts/test.sh
  src/build-html.js
  src/build-pdf.js
  src/theme/index.js
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

docs: include current job tech stack
  .idea/jsLinters/eslint.xml
  resume.json
Due: yarn prettier --write, yarn eslint --fix

fix: missing JSON parse after read file
  docs/index.html
  docs/resume.pdf
  package.json
  src/build-html.js
  src/build-pdf.js
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

Update README.md
  README.md
Due: none

chore: remove npm-package-json-lint
  .idea/jsLinters/eslint.xml
  .lintstagedrc.json
  docker-compose-build.yml
  npmpackagejsonlint.config.cjs
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

docs: skill level definition
  .idea/prettier.xml
  .lintstagedrc.json
  README.md
  docs/index.html
  docs/resume.pdf
  package-lock.json
  package.json
  resume.json
  scripts/test.sh
  src/build-html.js
  src/build-pdf.js
  src/theme/README.md
  src/theme/index.js
  src/theme/src/partials/about.hbs
  src/theme/src/partials/awards.hbs
  src/theme/src/partials/basics.hbs
  src/theme/src/partials/education.hbs
  src/theme/src/partials/info-tag.hbs
  src/theme/src/partials/interests.hbs
  src/theme/src/partials/languages.hbs
  src/theme/src/partials/projects.hbs
  src/theme/src/partials/publications.hbs
  src/theme/src/partials/references.hbs
  src/theme/src/partials/resume-header.hbs
  src/theme/src/partials/section-header.hbs
  src/theme/src/partials/skills.hbs
  src/theme/src/partials/social.hbs
  src/theme/src/partials/summary.hbs
  src/theme/src/partials/title.hbs
  src/theme/src/partials/volunteer.hbs
  src/theme/src/partials/work.hbs
  src/theme/src/resume.hbs
  src/theme/src/style.css
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): remove jsonresume-theme-macchiato
  package-lock.json
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: css style
  docs/index.html
  docs/resume.pdf
  package.json
  src/theme/README.md
  src/theme/src/style.css
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

ci: use .nvmrc version
  .github/workflows/deploy-gh-page.yml
Due: none

fix: unable load after deployment
  docs/index.html
Due: none

test: include playwright/test
  docs/js/__tests__/date.helper.spec.js
  docs/js/__tests__/json-resume.component.spec.js
  docs/js/__tests__/skills.helper.spec.js
  docs/js/header.component.js
  docs/js/sections/resume-about.component.js
  docs/js/sections/resume-education.component.js
  docs/js/sections/resume-language.component.js
  docs/js/sections/resume-projects.component.js
  docs/js/sections/resume-references.component.js
  docs/js/sections/resume-skills.component.js
  docs/js/sections/resume-summary.component.js
  docs/js/sections/resume-work.component.js
  package-lock.json
  package.json
  playwright.config.js
  scripts/test.sh
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

test: make render element generic
  docs/index.html
  docs/js/__tests__.helper.js
  docs/js/__tests__/json-resume.component.spec.js
  docs/js/__tests__/json-resume.element.spec.js
  docs/js/header.element.js
  docs/js/json-resume.element.js
  docs/js/sections/resume-about.element.js
  docs/js/sections/resume-education.element.js
  docs/js/sections/resume-language.element.js
  docs/js/sections/resume-projects.element.js
  docs/js/sections/resume-references.element.js
  docs/js/sections/resume-skills.element.js
  docs/js/sections/resume-summary.element.js
  docs/js/sections/resume-work.element.js
Due: yarn prettier --write, yarn eslint --fix
