Repository neviaumi/resume.json: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

.lintstagedrc.json:

{
  "*.{js,ts,json,yml,yaml}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2-fix"]
}

GH-659: include GPT4 in my project
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

GH-661: include llm in made-in-uk project
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

GH-684: skip empty feedback
  .idea/misc.xml
  .idea/resume.json.iml
  llm/src/llm/introduction.py
Due: none

fixup! GH-684: skip empty feedback
  Dockerfile
Due: none

GH-686: fixing the link in readme was outdated
  README.md
Due: npx prettier --write, npx markdownlint-cli2-fix

upgrade how i call openai
  llm/src/llm/introduction.py
Due: none

GH-689: use vite to bundle and replace @playwright/test
  .github/workflows/deploy-gh-page.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  Dockerfile
  docker-compose-build.yml
  docs/.gitkeep
  docs/index.html
  docs/index.private.html
  docs/js/__tests__/json-resume.element.spec.js
  docs/resume.pdf
  index.html
  package-lock.json
  package.json
  resume.json
  scripts/build.sh
  scripts/start.sh
  scripts/test.sh
  src/__tests__.helper.js
  src/__tests__/date.helper.spec.js
  src/__tests__/skills.helper.spec.js
  src/build-pdf.js
  src/date.helper.js
  src/header.element.js
  src/json-resume.element.js
  src/sections/resume-about.element.js
  src/sections/resume-application.element.js
  src/sections/resume-education.element.js
  src/sections/resume-language.element.js
  src/sections/resume-projects.element.js
  src/sections/resume-references.element.js
  src/sections/resume-skills.element.js
  src/sections/resume-summary.element.js
  src/sections/resume-work.element.js
  src/skills.helper.js
  src/styles.js
  vite.config.js
Due: npx prettier --write, npx eslint --fix

fixup! GH-689: use vite to bundle and replace @playwright/test
  eslint.config.js
Due: npx prettier --write, npx eslint --fix

GH-689: move resume.pdf to public as it would included on final build
  .gitignore
  Dockerfile
  docker-compose-build.yml
  docs/resume.pdf
  public/resume.pdf
  scripts/build.sh
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix

GH-689: fix deployment script
  .github/workflows/deploy-gh-page.yml
Due: npx prettier --write, npx eslint --fix

GH-689: fix build
  public/resume.pdf
  vite.config.js
Due: npx prettier --write, npx eslint --fix

GH-513: migrate to tailwind-css
  README.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  playwright.config.js
  postcss.config.js
  public/resume.json
  public/resume.pdf
  src/main.css
  src/styles.js
  src/v2/helpers.js
  src/v2/icons/LI-In-Bug.png
  src/v2/icons/cake.svg
  src/v2/icons/envelope.svg
  src/v2/icons/github-mark.svg
  src/v2/icons/home.svg
  src/v2/icons/printer.svg
  src/v2/json-resume.element.js
  src/v2/sections/resume-about.element.js
  src/v2/sections/resume-education.element.js
  src/v2/sections/resume-experiences.element.js
  src/v2/sections/resume-header.element.js
  src/v2/sections/resume-projects.element.js
  src/v2/sections/resume-references.element.js
  src/v2/sections/resume-skill-explained.element.js
  src/v2/sections/resume-skills.element.js
  src/v2/sections/resume-summary.element.js
  src/v2/sections/skill-badge.element.js
  tailwind.config.js
  vite.config.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-513: fix docker
  Dockerfile
Due: none

GH-513: fix vite build
  package-lock.json
  package.json
  vite.config.js
Due: npx prettier --write, npx eslint --fix

GH-703: missing tailwindcss config on Docker
  Dockerfile
  public/resume.pdf
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix

GH-705: use Roboto as default font family
  src/main.css
  src/roboto.css
  src/sections/skill-badge.element.js
Due: npx prettier --write, npx eslint --fix

GH-705: fix web version url
  public/resume.pdf
  src/main.css
  src/sections/resume-header.element.js
Due: npx prettier --write, npx eslint --fix

GH-705: test generate without docker
  README.md
  public/resume.pdf
  scripts/build.sh
Due: npx prettier --write, npx markdownlint-cli2-fix

GH-705: temp disabled pdf building on Github Action
  public/resume.pdf
  scripts/build.sh
Due: none

GH-705: fix roboto and tailwind font-weight conflict
  public/resume.pdf
  scripts/build.sh
  src/main.css
  src/roboto.css
  src/sections/resume-about.element.js
  src/sections/resume-education.element.js
  src/sections/resume-experiences.element.js
  src/sections/resume-header.element.js
  src/sections/resume-projects.element.js
  src/sections/resume-references.element.js
  src/sections/resume-skill-explained.element.js
  src/sections/resume-skills.element.js
  src/sections/resume-summary.element.js
  tailwind.config.js
Due: npx prettier --write, npx eslint --fix

GH-711: include experiences without detail on early job
  public/resume.json
  public/resume.pdf
  src/main.css
  src/sections/resume-experiences.element.js
Due: npx prettier --write, npx eslint --fix

GH-700: tailor resume by help from OpenAI
  .gitignore
  docs/sample-jd/neutreeno.md
  eslint.config.js
  package-lock.json
  package.json
  public/resume.json
  public/resume.pdf
  src/build-pdf.js
  src/helpers.js
  src/json-resume.element.js
  src/open-ai.js
  src/resume-to-pdf.js
  src/sections/resume-experiences.element.js
  src/sections/resume-projects.element.js
  src/sections/resume-skill-explained.element.js
  src/sections/resume-skills.element.js
  src/sections/skill-badge.element.js
  src/tailor-resume.js
  vite.config.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-700: fix the color tone and build
  README.md
  scripts/test.sh
  src/json-resume.element.js
  src/sections/skill-badge.element.js
  vite.config.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-700: fix pdf build error
  public/resume.pdf
  src/json-resume.element.js
  vite.config.js
Due: npx prettier --write, npx eslint --fix

GH-700: fix the build by rename the resume.json to other name
  public/resume.base.json
  public/resume.pdf
  src/json-resume.element.js
Due: npx prettier --write, npx eslint --fix

GH-718: fix wrong resume.json path
  README.md
  docs/sample-jd/dialpad.md
  public/resume.pdf
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-720: feedback to generated content before generate pdf
  package-lock.json
  package.json
  public/resume.base.json
  public/resume.pdf
  src/build-pdf.js
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-720: include playwright in made-in-uk keywords
  public/resume.base.json
Due: npx prettier --write, npx eslint --fix

fixup! GH-720: include playwright in made-in-uk keywords
  src/build-pdf.js
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

fixup! GH-720: include playwright in made-in-uk keywords
  public/resume.base.json
Due: npx prettier --write, npx eslint --fix

GH-720: include katkin in sample-jd
  docs/sample-jd/katkin.md
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-722: include goodlord to sample jd
  docs/sample-jd/goodlord.md
  public/resume.base.json
  src/build-pdf.js
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-722: include company value on goodlord sample-jd
  docs/sample-jd/goodlord.md
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

fixup! GH-722: include goodlord to sample jd
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-726: include colleague recommendations for generate resume summary
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-726: include zensai in sample jd
  docs/sample-jd/zensai.md
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-728: include open source project when generate prompt
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix

GH-728: include zeroheight to sample-jd
  docs/sample-jd/zeroheight.md
  public/resume.base.json
  src/tailor-resume.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix
