Repository neviaumi/resume.json: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

feat: add get pdf button on CV
  docs/js/header.element.js
  docs/resume.pdf
Due: npx prettier --write, npx eslint --fix

ci: playwright in CI
  .idea/misc.xml
  Dockerfile
  docs/resume.pdf
  package.json
  scripts/setup.sh
Due: npx prettier --write, npx eslint --fix

fix: project name contain -
  .eslintrc.cjs
  .github/workflows/deploy-gh-page.yml
  .github/workflows/pr.yml
  .idea/prettier.xml
  docs/js/header.element.js
  docs/js/sections/resume-projects.element.js
  docs/js/sections/resume-work.element.js
  docs/js/skills.helper.js
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

chore: add reference and update job
  README.md
  docs/js/sections/resume-references.element.js
  docs/js/sections/resume-work.element.js
  docs/print-pdf-instruction.png
  docs/resume.json
  docs/resume.pdf
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

ISSUE-464: resolve npm audit warning
  .github/workflows/verify-pr.yml
  commitlint.config.cjs
  package-lock.json
  package.json
  scripts/test.sh
Due: npx prettier --write, npx eslint --fix

ISSUE-464: rename github action
  .eslintrc.cjs
  .github/workflows/verify-pr.yml
  .lintstagedrc.json
Due: npx prettier --write, npx eslint --fix

ISSUE-464: include .github folder to linter
  .eslintignore
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/deploy-gh-page.yml
  .github/workflows/verify-pr.yml
Due: npx prettier --write, npx eslint --fix

ISSUE-467: include detail on playstation work
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-467: fix typo
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-472: follow up comments from ChatGPT
  docs/js/sections/resume-projects.element.js
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-472: change date format and remove DOB field
  docs/js/__tests__/date.helper.spec.js
  docs/js/date.helper.js
  docs/js/sections/resume-about.element.js
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-502: ability to create tailored resume
  .gitignore
  README.md
  docs/index.private.html
  docs/js/__tests__/json-resume.element.spec.js
  docs/js/header.element.js
  docs/js/json-resume.element.js
  docs/js/sections/resume-about.element.js
  docs/js/sections/resume-application.element.js
  docs/resume.json
  docs/resume.pdf
  package-lock.json
  package.json
  scripts/test.sh
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

ISSUE-504: display role responsibility as list
  .gitignore
  docs/js/sections/resume-application.element.js
  docs/resume.pdf
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix

ISSUE-474: hightlight the skill company wanted
  docs/js/json-resume.element.js
  docs/js/sections/resume-language.element.js
  docs/js/sections/resume-projects.element.js
  docs/js/sections/resume-skills.element.js
  docs/js/sections/resume-work.element.js
  docs/resume.pdf
Due: npx prettier --write, npx eslint --fix

ISSUE-508: master skill shhould highlight as primary by default
  docs/js/sections/resume-skills.element.js
Due: npx prettier --write, npx eslint --fix

ISSUE-506: update projects list
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-511: move position to company name together
  docs/js/sections/resume-work.element.js
Due: npx prettier --write, npx eslint --fix

ISSUE-530: show expected salary when available
  .idea/misc.xml
  docs/js/sections/resume-application.element.js
  docs/js/sections/resume-summary.element.js
  docs/resume.json
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix

ISSUE-541: update github username
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-553: lock node version to node 18
  .nvmrc
Due: none

ISSUE-554: include project template instead of react-component github project
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-568: hide role responsibilities when empty
  docs/js/sections/resume-application.element.js
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

ISSUE-570: update wording by feedback from chatgpt
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

GH-604: upgrade eslint
  .eslintrc.cjs
  .nvmrc
  .prettierrc.cjs
  .prettierrc.js
  commitlint.config.cjs
  commitlint.config.js
  docs/js/header.element.js
  docs/js/sections/resume-about.element.js
  docs/js/sections/resume-application.element.js
  docs/js/sections/resume-education.element.js
  docs/js/sections/resume-work.element.js
  eslint.config.js
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

GH-604: ignore test snapshot
  .gitignore
Due: none

GH-606: upgrade resume
  README.md
  docs/resume.json
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

GH-608: include date of availability
  docs/js/sections/resume-application.element.js
Due: npx prettier --write, npx eslint --fix

GH-613: update my summary to include what i looking for
  docs/resume.json
Due: npx prettier --write, npx eslint --fix

GH-618: include my position in team
  docs/resume.json
  docs/resume.pdf
  src/build-pdf.js
Due: npx prettier --write, npx eslint --fix

GH-624: include made-in-uk on project
  docs/resume.json
  docs/resume.pdf
Due: npx prettier --write, npx eslint --fix

GH-624: include the pdf
  docs/resume.pdf
Due: none

GH-627: move wanted skills to the beginning
  docs/js/sections/resume-projects.element.js
  docs/js/sections/resume-skills.element.js
  docs/js/sections/resume-work.element.js
  docs/resume.json
  docs/resume.pdf
Due: npx prettier --write, npx eslint --fix

GH-644: integate open-ai
  .gitignore
  docs/resume.json
  llm/.gitignore
  llm/.idea/modules.xml
  llm/.python-version
  llm/README.md
  llm/pdm.lock
  llm/pyproject.toml
  llm/src/llm/__init__.py
  llm/src/llm/introduction.py
  llm/src/llm/llm.py
  llm/src/llm/open_ai.py
  llm/tests/__init__.py
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2-fix

fixup! GH-644: integate open-ai
  eslint.config.js
  llm/pdm.lock
  llm/pyproject.toml
Due: npx prettier --write, npx eslint --fix

GH-647: update introduction
  llm/src/llm/introduction.py
Due: none

GH-514: update gp-page deployment
  .github/tests/test-deploy-gh-page.json
  .github/workflows/deploy-gh-page.yml
  .husky/pre-push
  docs/resume.json
  package.json
  scripts/build.sh
  scripts/setup.sh
  scripts/test.sh
Due: npx prettier --write, npx eslint --fix

GH-514: fix missing permission error
  .github/workflows/deploy-gh-page.yml
Due: npx prettier --write, npx eslint --fix

GH-652: remove resume.pdf from docs
  .github/workflows/deploy-gh-page.yml
  docs/resume.pdf
Due: npx prettier --write, npx eslint --fix

GH-648: follow-up ai generated content by provide feedback
  .gitignore
  eslint.config.js
  llm/src/llm/introduction.py
  llm/src/llm/llm.py
  llm/src/llm/open_ai.py
Due: npx prettier --write, npx eslint --fix

GH-659: include my expection on prompt
  llm/src/llm/introduction.py
Due: none

Path conditions:
  npx prettier --write: (any of: *.{js,ts,json,yml,yaml}) or (any of: *.md)
  npx eslint --fix: any of: *.{js,ts,json,yml,yaml}
  npx markdownlint-cli2-fix: any of: *.md
