Repository neviaumi/resume.json: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency @busybox/eslint-config to v5.4.5
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

test: use latest version puppeteer
  buildPDF.js
  docs/resume.pdf
  package.json
  theme/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: remove margin
  buildPDF.js
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

fix: ci don't respect margin
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

fix: theme defaut 0 margin when media type is print
  docs/index.html
  patches/jsonresume-theme-macchiato+1.1.0.patch
Due: none

chore: use css to control pdf size
  docs/resume.pdf
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

chore: remove unused options
  docs/resume.pdf
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix

chore: remove pdf build on Git
  .husky/pre-commit
  README.md
  docs/print-pdf-instruction.png
  docs/resume.pdf
  package.json
  scripts/build.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: remove build step from pre-commit hooks
  .husky/pre-commit
Due: none

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update commitlint monorepo to v12.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

ci: build pdf in CI
  buildPDF.js
  package.json
  scripts/build.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

feat: downgrade the job title which is false promising
  resume.json
Due: yarn prettier --write, yarn eslint --fix

ci(debug): build pdf in CI
  buildPDF.js
  package.json
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

ci(debug): build pdf in CI
  buildPDF.js
  package.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

feat: docker for build pdf
  .idea/csv-plugin.xml
  Dockerfile
  buildPDF.js
  docker-compose-build-pdf.yml
  docs/resume.pdf
  docs/resume.png
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore: remove unused patch
  patches/jsonresume-theme-macchiato+1.1.0.patch
Due: none

docs: add pdf link in docs
  README.md
  buildPDF.js
  resume.json
Due: yarn prettier --write, yarn eslint --fix

chore: remove extra volumes from docker-compose
  docker-compose-build-pdf.yml
Due: none

fix: pdf contain weird characters
  buildPDF.js
  package.json
  patches/resume-cli+3.0.4.patch
  theme/index.js
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

fix: dockerfile copying folder that not exist
  Dockerfile
Due: none

fix: pdf should get first page
  buildPDF.js
  docs/.gitkeep
  docs/resume.pdf
Due: yarn prettier --write, yarn eslint --fix

fix: github missing pdf can't trigger cd
  docs/resume.pdf
Due: none

feat: add references from hk01 team mate
  buildPDF.js
  docs/index.html
  docs/resume.pdf
  resume.json
Due: yarn prettier --write, yarn eslint --fix

feat: remove resume-cli
  Dockerfile
  docker-compose-build-pdf.yml
  docker-compose-build.yml
  package.json
  scripts/build.sh
  src/build-html.js
  src/build-pdf.js
  src/theme/index.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

docs: add new references to resume
  docker-compose-build.yml
  docs/index.html
  docs/resume.pdf
  package.json
  resume.json
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update node.js to v14.16.1
  .nvmrc
Due: none

chore(deps): update dependency eslint to v7.24.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency eslint to v7.25.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency eslint to v7.26.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

chore(deps): update dependency prettier to v2.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, yarn npmPkgJsonLint

Path conditions:
  yarn prettier --write: (any of: *.{js,ts,json}) or (any of: package.json)
  yarn eslint --fix: (any of: *.{js,ts,json}) or (any of: package.json)
  yarn npmPkgJsonLint: any of: package.json
